@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

.poppins-400-11 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.6875rem;
  }
  .poppins-400-12 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.75rem;
  }
  .poppins-400-13 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.8125rem;
  }
  .poppins-400-15 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
  }
  .poppins-500-10 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 0.625rem;
  }
  .poppins-500-11 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 11px;
  }
  .poppins-500-12 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 0.75rem;
  }
  .poppins-500-13 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 13px;
  }
  .poppins-500-14 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
  }
  .poppins-500-15 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
  }
  .poppins-500-18 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.125rem;
  }
  .poppins-600-13 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 0.8125rem;
  }
  .poppins-600-14 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
  }
  .poppins-600-15 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 0.9375rem;
  }
  .poppins-600-20 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.25rem;
  }
  .poppins-700-15 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 0.9375rem;
  }
  .poppins-700-24 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.5rem;
  }
  